.listagem{
    max-width: 200px;
}

.listagem .pokemon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: #6b727a;
    color: #ffffff;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(230, 240, 46, 0.4) 5px 5px, rgba(221, 240, 46, 0.3) 10px 10px, rgba(240, 233, 46, 0.2) 15px 15px, rgba(230, 240, 46, 0.1) 20px 20px, hsla(63, 87%, 56%, 0.05) 25px 25px;
    transition: 0.15s ease-in-out;
}

.listagem .pokemon:hover{
    transform: scale(1.05);
}

.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span{
    padding: 20px;

}

.listagem .pokemon.ativo{
    background-color: #fa6668;
}

